@CHARSET "UTF-8";

:root {
	--bs-primary: #9F2225;
	--accent-colo: white;
}

html {
	font-family: sans-serif;
}

img {
	width: 4cm;
}

.primary-background {
	background-color: #9F2225;
	color: white;
}

.white-background {
	background-color: white;
	color: #9F2225;
}

.primary-border {
	border: 1px solid #9F2225;
}

.card-img-top {
	height: 400px;
	object-fit: cover;
}

.hero-image {
	background-image: url('../imgs/banner.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
}

.invalid-feedback {
    color: white !important;
}

.hero-text {
	background-color: rgba(0, 0, 0, 0.5);
}

.active-link {
	background-color: #9F2225;
	color: white;
}

.unactive-link {
	border: 1px solid #9F2225;
	color: #9F2225;
}






